@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans";
}

#travelList__container {
  // margin: 2% 0 0 2%;

  .MuiTableHead-root {
    background-color: #2ab1eb;

    th {
      color: yellow;
    }
  }

  .TableRowColumn {
    white-space: normal;
    word-wrap: break-word;
  }
}
