@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans";
}

#travelList__container {
  .MuiTableHead-root {
    background-color: yellow;

    th {
      color: #2ab1eb;
    }
  }

  .TableRowColumn {
    white-space: normal;
    word-wrap: break-word;
  }
}
