#history {
  .history__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(242 246 37 / 50%);
    padding: 2%;

    .history__single__summary {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

    .history__single__tripDetails {
      // margin: 2% 2% 0 0;

      .MuiTableHead-root {
        background-color: #2ab1eb;

        th {
          color: yellow;
        }
      }
    }
  }
}
