#history {
  .history__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

    h2 {
      align-self: center;
    }

    &:nth-child(odd) {
      background: rgb(255 255 0 / 85%);

      .MuiTableHead-root {
        background-color: #2ab1eb;

        th {
          color: yellow;
        }
      }
    }

    &:nth-child(even) {
      background: rgb(82 202 242 / 50%);

      .MuiTableHead-root {
        background-color: yellow;

        th {
          color: #2ab1eb;
        }
      }
    }

    .history__single__summary {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;

      .history__single__breakdown {
        margin-bottom: 5%;
      }
    }
  }
}
