#edit_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 200px;
  min-height: 350px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
  background: rgba(255, 255, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #2ab1eb;
  padding: 2% 2% 2% 6%;

  h2 {
    text-decoration: underline;
    margin: 0;
    font-weight: bold;
  }

  h3 {
    margin: 0;
  }

  .error {
    margin: 2%;
    color: red;
    font-size: 15px;
  }

  .modal__checkboxes {
    flex-direction: row;

    label {
      padding-left: 2%;
    }

    .MuiSvgIcon-root {
      color: #2ab1eb;
    }
  }

  .modal__input {
    display: flex;
    gap: 5%;
    margin-left: 10%;
  }

  .edit_modal_delete {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .edit_modal_update {
    width: 15%;
    min-width: 90px;
    background-color: #2ab1eb;
    color: yellow;
  }
}

.modal__checkboxes > label {
  flex: 45%;
}
