#edit_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 200px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .modal__checkboxes {
    flex-direction: row;
  }

  .modal__inputs {
    display: flex;
    gap: 5%;

    .modal__input {
      flex-direction: column;
      display: flex;
    }
  }

  .MuiButton-root {
    width: 15%;
    min-width: 90px;
  }
}
