.nav-bar {
  .MuiAppBar-root {
    background-color: #2ab1eb;
    color: yellow;
  }
  .navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      // font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: white;
    }
  }
}
