#single_trip__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .single_trip__tripInfo {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    width: 100%;
  }
}

#travelList__container {
  .MuiTableHead-root {
    background-color: #2ab1eb;

    th {
      color: yellow;
    }
  }

  .TableRowColumn {
    white-space: normal;
    word-wrap: break-word;
  }
}

.newTrip__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 2px solid black;
  border-radius: 15%;
  padding: 3%;
  align-items: center;

  h2 {
    text-decoration: underline;
    margin-bottom: 0;
  }

  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;
  }

  .newTrip__input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
  }

  button {
    margin-top: 5%;
    width: 25%;
  }
}
