.newTrip__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 2px solid black;
  border-radius: 15%;
  padding: 3%;
  align-items: center;

  .newTrip__input {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  button {
    margin-top: 5%;
    width: 25%;
  }
}
