#single_trip_container {
  display: flex;
  justify-content: space-around;
  gap: 3%;
}

.newTrip__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 2px solid black;
  border-radius: 15%;
  padding: 3%;
  align-items: center;

  .TableRowColumn {
    white-space: normal;
    word-wrap: break-word;
  }

  h2 {
    text-decoration: underline;
    margin-bottom: 0;
  }

  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;
  }

  .newTrip__input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
  }

  button {
    width: 25%;
  }
}
